/**
* Icon styles.
*/

.osrui-icon 
{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}

.osrui-icon.sword 
{
    background-image: url('img/icons/sword.png');
}

.osrui-icon.shield 
{
    background-image: url('img/icons/shield.png');
}

.osrui-icon.exclamation 
{
    background-image: url('img/icons/exclamation.png');
}

.osrui-icon.potion-red 
{
    background-image: url('img/icons/potion-red.png');
}

.osrui-icon.potion-green 
{
    background-image: url('img/icons/potion-green.png');
}

.osrui-icon.potion-blue 
{
    background-image: url('img/icons/potion-blue.png');
}

.osrui-icon.weapon-slot 
{
    background-image: url('img/icons/weapon-slot.png');
}

.osrui-icon.shield-slot 
{
    background-image: url('img/icons/shield-slot.png');
}

.osrui-icon.armor-slot 
{
    background-image: url('img/icons/armor-slot.png');
}

.osrui-icon.helmet-slot 
{
    background-image: url('img/icons/helmet-slot.png');
}

.osrui-icon.ring-slot 
{
    background-image: url('img/icons/ring-slot.png');
}

.osrui-icon.potion-slot 
{
    background-image: url('img/icons/potion-slot.png');
}

.osrui-icon.magic-slot 
{
    background-image: url('img/icons/magic-slot.png');
}

.osrui-icon.shoes-slot 
{
    background-image: url('img/icons/shoes-slot.png');
}

.osrui-icon.empty-slot 
{
    background-image: url('img/icons/empty-slot.png');
}
